body {
  color: black;
}

.edit-species .datum-input label {
  width: 140px;
  display: inline-flex;
}

.edit-species details {
  margin-left: 10px;
}

.edit-species .part-types {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}

.edit-species .part-types .type-select label {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.edit-species .part-types .type-select label img {
  width: 100%;
  height: auto;
}

.edit-species .part-types .type-select label .tooltiptext {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 10px;
  background-color: black;
  color: white;
}

.edit-species .part-types .type-select label:hover .tooltiptext {
  display: inherit;
}

.edit-species .part-types .type-select input {
  display: none;
}

.edit-species .part-types .type-select input[type=checkbox] + label img {
  border: 5px solid white;
}

.edit-species .part-types .type-select input[type=checkbox]:checked + label img {
  border: 5px solid red;
}